<div class="wrapper">
    <p class="header">BALANCE</p>
    <p>Dear User,</p>
    <p>You have GHC <span class="balance">0.00</span> remaining in your account</p>
    <div class="back">
        <a href="/welcome"><button class="btn" type="button">BACK</button></a>
    </div>
</div>