<div class="wrapper">
    <p class="header">
        CHANGE PIN
    </p>
    <div class="current-wrap">
        <label class="label">CURRENT PIN</label>
        <input class="input" type="password" id="current-pin" name="current-pin">
    </div>
    <div class="new-wrap">
        <label class="label">NEW PIN</label>
        <input class="input" type="password" id="new-pin" name="new-pin">
    </div>
    <div class="confirm-wrap">
        <label class="label">CONFIRM PIN</label>
        <input class="input" type="password" id="confirm-pin" name="confirm-pin">
    </div>
    <button class="btn" type="button">CHANGE PIN</button>
    <div>
        <div>
            <a href="/welcome"><button class="btn" type="button">BACK</button></a>
        </div>
    </div>
</div>