<div class="wrapper">
    <p class="header">MINI STATEMENT</p>
    <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Transaction Type</th>
            <th>Account No.</th>
            <th>Transaction ID</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Transfer</td>
            <td>122938475729</td>
            <td>ud89wega7</td>
            <td>984395</td>
          </tr>
          <!-- <tr>
            <td>Data 6</td>
            <td>Data 7</td>
            <td>Data 8</td>
            <td>Data 9</td>
            <td>Data 10</td>
          </tr> -->
          <!-- Add more rows as needed -->
        </tbody>
      </table>
             

    <div>
        <a href="/welcome"><button class="btn" type="button">BACK</button></a>
    </div>
</div>