<div class="auth-container">
    <div class="side-container">
        <h1 class="greeting">Welcome to E&T Bank</h1>
    </div>
    <form action="" class="pin-wrapper">
        <div class="pin-inner-wrapper">
            <h4 class="pin-header">ENTER PIN</h4>
            <div class="pin-container">
                <input class="pin-box" type="password" name="pin" id="pin-1">
                <input class="pin-box" type="password" name="pin" id="pin-2">
                <input class="pin-box" type="password" name="pin" id="pin-3">
                <input class="pin-box" type="password" name="pin" id="pin-4">
            </div>
            <div class="button-container">
                <button class="pin-button"  type="submit">SUBMIT</button>
            </div>
        </div>
    </form>
</div>