<div class="wrapper">
    <p class="header">TRANSFER FUNDS</p>
    <div class="acc-wrap">
        <label class="label" for="account-no">RECIPIENT ACCOUNT NUMBER</label>
        <input class="input" type="text" id="account-no" name="account-no">
    </div>
    <div class="amount">
        <label class="label" for="amount">AMOUNT</label>
        <input class="input" type="text" id="amount" name="amount">
    </div>
    <button class="btn" type="button">TRANSFER</button>
    <div>
        <a href="/welcome"><button class="btn" type="button">BACK</button></a>
    </div>
</div>