<div class="welcome-wrapper">
    <div class="user-details">
        <div class="welcome-container">
            <div class="greet-user">
                Welcome User
            </div>
            <div class="date">
            <p>5TH MAY, 2024 |<span class="time"> 04:20am</span></p>
            </div>
        </div>
    </div>
    <div class="process-wrapper">
        <p class="instruction">CHOOSE ONE OPTION TO CONTINUE</p>
        <div class="options">
            <div class="options-set-1">
                <div class="option-container">
                    <a class="link" href="/transfer">
                        <div class="icon">

                        </div>
                        <div class="option-text">
                            <div class="poppins-black" class="transaction">TRANSFER FUNDS</div>
                            <div class="trans-details">Transfer fund to another account</div>
                        </div>
                    </a>
                </div>
                
                <div class="option-container">
                    <a class="link" href="/balance">
                        <div class="icon">

                        </div>
                        <div class="option-text">
                            <div class="poppins-black" class="poppins-black" class="transaction">BALANCE ENQUIRY</div>
                            <div class="trans-details">Check the balance of your account</div>
                        </div>
                    </a> 
                </div>

                <div class="option-container">
                    <a class="link" href="/mini-statement">
                        <div class="icon">

                        </div>
                        <div class="option-text">
                            <div class="poppins-black" class="transaction">MINI STATEMENT</div>
                            <div class="trans-details">Get a mini statement of your account</div>
                        </div>
                    </a> 
                </div>
            </div>

            <div class="options-set-2">
                <div class="option-container">
                    <a class="
                    link" href="/withdrawal">
                        <div class="icon">

                        </div>
                        <div class="option-text">
                            <div class="poppins-black" class="transaction">WITHDRAWAL</div>
                            <div class="trans-details">Withdraw money from your account</div>
                        </div>
                    </a>
                    
                </div>
                <div class="option-container">
                    <a class="link" href="/cash-deposit">
                        <div class="icon">

                        </div>
                        <div class="option-text">
                            <div class="poppins-black" class="transaction">CASH DEPOSIT</div>
                            <div class="trans-details">Deposit cash into your account here</div>
                        </div>
                    </a> 
                </div>
                <div class="option-container">
                        <a class="link" href="change-pin">
                            <div class="icon">

                            </div>
                            <div class="option-text">
                                <div class="poppins-black" class="transaction">CHANGE PIN</div>
                                <div class="trans-details">Change your ATM/Debit card pin here</div>
                            </div>
                        </a>
                </div>
            </div>
        </div>
    </div>
    <div class="logout">
        <button  class="btn" type="button">LOGOUT</button>
    </div>
</div>